.grid-container{
    display:grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 50px 100px 200px;
    gap: 10px;
}

.grid-item{
    background-color: lightblue;
    font-size: 25px;
    border: 1px,solid,blue;
}