.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav main main"
    "nav aside sidebar"
    "footer footer footer";

}

header{grid-area:header; background-color: lightblue;}
nav {grid-area: nav; background-color: lightgreen;}
footer{grid-area:footer; background-color: gray;}